body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
  }
  
  header {
    background-color:black;
    color: #fff;
    padding: 15px 0;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    font-size: 1.5rem;
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    display: inline;
    margin-right: 20px;
  }
  
  .hero {
    /* background-image: url('background.jpg'); */
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
  }
  
  .hero h2 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  
  .btn {
    display: inline-block;
    background-color: #ff7f50;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #ff6347;
  }
  
  .service {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .service h3 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .service p {
    font-size: 1.1rem;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
  }
  